<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monster Loot!</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Site.css")
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display&display=swap" rel="stylesheet">
    <style>

        .navbar {
            font-family: 'Amatic SC', Arial, sans-serif;
            font-size: 30px;
            font-weight: 600;
        }

        .header-text {
            font-family: 'Amatic SC', Arial, sans-serif;
            font-size: 150px;
            font-weight: 600;
        }

        .description, .button {
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
        }

        .table-font {
            font-family: 'Neucha', sans-serif;
            color: black;
            font-size: 21px;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Monsters", "Index", "Monsters")</li>
                        <li>@Html.ActionLink("Loots", "Index", "Loot")</li>
                        <li>@Html.ActionLink("Event", "Index", "Event")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="footer" style="text-align: center;">
            <p class="navbar">&copy; @DateTime.Now.Year - Monster Loot</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>